

<div class="body">

  <h1>Login</h1>
  <form [formGroup]="loginForm">

    <div class="row">

      <label for="email" >Email</label>
      <input type="email" type="email" formControlName="email"  autocomplete="off" placeholder="email@example.com">
    </div>
    <div class="row">
      <label for="password">Password</label>
      <input type="password"  formControlName="password" >
    </div>

    <button (click)="submit()">Login</button>
  </form>
  </div>
  "email": "admin@gmail.com",
  "password": "1234"
