

<div class="body">

  <h1>Login</h1>
  <form [formGroup]="loginForm">
  <div class="row">
    <mat-radio-group (change)="getRole($event)" formControlName="type" >
      <mat-radio-button value="students"  class="w-25" color="warn">student</mat-radio-button>
      <mat-radio-button value="teacher" class="w-25" color="warn">teacher</mat-radio-button>
  </mat-radio-group>

  </div>

    <div class="row">

      <label for="email" >Email</label>
      <input type="email" type="email" formControlName="email"  autocomplete="off" placeholder="email@example.com">
    </div>
    <div class="row">
      <label for="password">Password</label>
      <input type="password"  formControlName="password" >
    </div>
    <a routerLink="/register" color="primary">انشاء حساب ؟</a>

    <button (click)="submit()">Login</button>
  </form>
  </div>
